{% assign owner = site.owner %}

<div class="cover-card table-cell table-middle">


{% if owner.avatar %}
  <a href="{{ owner.profile }}">
  	<img src="{{ site.url }}/images/{{ owner.avatar }}" alt="" class="avatar">
  </a>
{% endif %}

 {% if owner.name %}
  <a href="{{ owner.profile }}">
  	<span class="author_bio mbm">{{ owner.name }}</span>
  </a>
{% endif %}


  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <span> / </span>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        {% unless forloop.last %}
          <span> / </span>
        {% endunless %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
</div>
