<script type="text/javascript">
  // based on http://stackoverflow.com/a/10300743/280842
  function gen_mail_to_link(hs, subject) {
    var lhs,rhs;
    var p = hs.split('@');
    lhs = p[0];
    rhs = p[1];
    document.write("<a class=\"social-link-item\" target=\"_blank\" href=\"mailto");
    document.write(":" + lhs + "@");
    document.write(rhs + "?subject=" + subject + "\"><i class=\"fa fa-fw fa-envelope\"></i><\/a>");
  }
</script>
<div class="social-links">
  <ul>
    {% if owner.email %}
      <li><script>gen_mail_to_link('{{ owner.email }}', "Re: {{site.title}}");</script></li>
    {% endif %}

    {% if owner.url %}
      <li><a href="{{ owner.url }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-user"></i></a></li>
    {% endif %}

    {% if owner.slideshare %}
      <li><a href="http://slideshare.com/{{ owner.slideshare }}/presentations?order=popular" class="social-link-item" target="_blank"><i class="fa fa-fw fa-slideshare"></i></a></li>
    {% endif %}

    {% if owner.youtube_playlist %}
      <li><a href="https://youtube.com/playlist?list={{ owner.youtube_playlist }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-youtube"></i></a></li>
    {% endif %}

    {% if owner.vimeo_playlist %}
      <li><a href="https://vimeo.com/{{ owner.vimeo_playlist }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-vimeo"></i></a></li>
    {% endif %}

    {% if owner.twitter %}
      <li><a href="http://twitter.com/{{ owner.twitter }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
    {% endif %}

    {% if owner.linkedin %}
      <li><a href="http://linkedin.com/in/{{ owner.linkedin }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
    {% endif %}

  </ul>
</div>
